{% load extra_tags ui_registry i18n %}

<div id="footer">
	<div>
		<div class="footerLinks" >
			{% loadregistry footer_links %}<span class="link-separator"> |</span>{% endloadregistry %}
		</div>
 
	</div>

	<div class="fllogo">
		<div id="licenseLogo"> 
			<a href="http://ask.xamin.ir/?type=rss" target="_blank" ><img src="{% media "/media/images/rss.png" %}" width="40" height="40" /></a>
			<a href="http://www.linkedin.com/groups/XAMIN-Project-4391038" target="_blank"><img src="{% media "/media/images/in.png" %}" width="40" height="40" /></a>
			<a href="https://twitter.com/xaminproject" target="_blank"><img src="{% media "/media/images/tw.png" %}" width="40" height="40" /></a>
			<a href="https://plus.google.com/u/0/communities/103642212886210800675" target="_blank"><img src="{% media "/media/images/google.png" %}" width="40" height="40" /></a>
			<a href="http://www.osqa.net" target="_blank"><img src="{% media "/media/images/by-sa-88x31.png" %}" width="114" height="40" /></a>
		</div>
	</div>
	<div class="footertext"> <a href="http://www.xamin.ir">کلیه حقوق مربوط به این پرتال محفوظ و متعلق به پروژه زمین می‌باشد ۱۳۹۱ © </a> </div>

 </div>